body {
    margin: 0;
    background-color: #6e36fc;
    font-family: "Mulish", sans-serif;
}

.header {
    height: 60%;
    width: 100vw;
    background-color: #6e36fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu a {
    color: white;
    text-decoration: none;
}

.header__menu__profile {
    display: flex;
    align-items: center;
}

.header__menu__profile__img {
    width: 25px;
    height: 25px;
    padding-right: 0px;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu__profile p {
    padding-left: 25px;
    padding-right: 0px;
    color: white;
    margin: 0px;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title {
    color: #ffffff;
    font-size: 25px;
}

::placeholder {
    color: white;
}

.input {
    border: 2px solid #fff;
    border-radius: 30px;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.caroucel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.caroucel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.caroucel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.caroucel-item:hover ~ .caroucel-item {
    transform: translate3d(100px, 0, 0);
}

.caroucel__container:hover .caroucel-item {
    opacity: 0.3;
}

.caroucel__container:hover .caroucel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.caroucel-item__img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.caroucel-item__detail {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
