body {
    margin: 0;
    font-family: "Muli", sans-serif;
}

.header {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21c08b;
}

.header__img {
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu a {
    color: white;
    text-decoration: none;
}

.header__menu__profile {
    display: flex;
    align-items: center;
}

.header__menu__profile__img {
    width: 25px;
    height: 25px;
    padding-right: 0px;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu__profile p {
    padding-left: 25px;
    padding-right: 0px;
    color: white;
    margin: 0px;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#21c08b, #ab88ff);
}
.categories__title{
    color: red;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.main__title {
    color: #ffffff;
    font-size: 25px;
}

::placeholder {
    color: white;
}

.input {
    border: 2px solid #fff;
    border-radius: 30px;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.caroucel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    background-color: #ab88ff;
}

.caroucel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.caroucel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.caroucel-item:hover ~ .caroucel-item {
    transform: translate3d(100px, 0, 0);
}

.caroucel__container:hover .caroucel-item {
    opacity: 0.3;
}

.caroucel__container:hover .caroucel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.caroucel-item__img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.caroucel-item__detail {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
 .login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.login__container--register--inicio a {
    padding-left: 60px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register--inicio a:hover {
    text-decoration: underline;
}
.login__container--register a:hover {
    text-decoration: underline;
}

.input__login {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 45px;
}
::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Muli", sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-around;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}



.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:60px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
}  